* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 50px 0 20px 0;
  font-size: 180px;
  color: white;
  background: green;
}

body {
  background: teal;
  font-family: 'VT323', monospace;
}

.screen {
  background: grey;
  width: 1200px;
  height: 1000px;
  margin: 0 auto;
  position: relative;
}
.glass{
  background: black;
  width: 1100px;
  height: 900px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
.bottom {
  background: grey;
  margin: 0 auto;
  width: 1500px;
  height: 225px;
}

#grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controls{
  float:left;
  background: orange;
  width:500px;
  height:98%;
}

.livesboard{
  float:left;
  background: purple;
  width:500px;
  height:98%;
}

.buttons{
  float:left;
  background: green;
  width:500px;
  height:98%;
}

.arrow{
  float:left;
  width:33.3%;
  height:50%;
  font-size: 90px;
  line-height:120%;
  text-align: center;
}



h2 {
  display: inline-block;
  background: grey;
}
ul {
  margin: 0 auto;
  width: 800px;
  height: 800px;
  background: blue;
}

li {
  width: 98px;
  margin: 1px;
  height: 98px;
  line-height: 40px;
  background: red;
  color: white;
  text-align: center;
  float: left;
  font-size: 30px;
}

.livesboard {
  display: table;
  background: yellow;
  font-size: 40px;
  margin: auto;
}
.scoreboard {
  text-align: center;
  font-size: 40px;
  clear: both;
  background: pink;
}

#play-button, #reset-button {
  font-size: 30px;
  width: 150px;
  height: 100px;
  margin: 0 5px;
}

#heart1, #heart2, #heart3 {
  width: 45px;
  float: left;
}

.heart {
  display: inline-block;
}
#digger, #block, #ruby {
  width: 100px;
}

.w {
  background: red;
  background-image: url("https://i.pinimg.com/236x/a8/60/9c/a8609cbcd9263f98bba3d6699f0277f2--mario-blocks-mario-bedroom.jpg");
  background-size: 50% 50%;
}

.c {
  background: green;
}

.g {
  background: black;
}

.a {
  background: green;
}

.s {
  background: pink;
}
