* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 50px 0 20px 0;
  font-size: 80px;
}

body {
  background: blue;
}

ul {
  margin: 10px auto;
  width: 1000px;
  height: 1000px;
  background: blue;
}

li {
  width: 198px;
  margin: 1px;
  height: 198px;
  line-height: 198px;
  background: red;
  color: white;
  text-align: center;
  float: left;
}

.livesboard {
  float: left;
  font-size: 60px;
}
.scoreboard {
  text-align: center;
  font-size: 60px;
  clear: both;
  margin-top: 150px;
}

.livesboard {
  margin: 0 0 0 100px;
}
.play, .reset {
  float: left;
  background-color: yellow;
}
button {
  font-size: 30px;
  width: 250px;
  height: 150px;
}

#heart {
  width: 100px;
}
